.section {
  margin: 32px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font: var(--font-xl);
  font-weight: 700;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.emptyContainer,
.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
  text-align: center;
}

.emptyText,
.errorText {
  font: var(--font-l);
  font-weight: 600;
}

.errorText {
  margin-bottom: 16px;
}

.errorContainer {
  flex-direction: column;
}
