.footer {
    background-color: var(--white);
    padding: var(--space-60) 0 var(--space-48);
}

.icon {
    fill: var(--primary-color);
}

.links {
    flex: 1;
}

.column {
    width: 25%;
}

.linkList {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: var(--space-12);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.link {
    text-decoration: none;
    transition: opacity 0.2s linear;

    &:hover {
        opacity: 0.8;
    }
}

.copyright {
    text-align: center;
}
