@use '../../../app/styles/animations';

.slideWrapper {
  position: relative;
  width: 600px;
  height: 240px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 32px;
}

.slideImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 32px;

  &.hidden {
    display: none;
  }

}

.slideImgSkeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gray-200);
  animation: pulse 1.5s ease-in-out infinite;
}


.skeletonItem {
  width: 600px;
  height: 240px;
  border-radius: 32px;
  background-color: var(--gray-200);
  animation: pulse 1.5s ease-in-out infinite;
}

