.imgContainer {
    width: 240px;
    height: 240px;
    background: var(--gray-100);
    border-radius: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSkeleton {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.skeleton {
    max-width: 240px;
    min-height: 374px;

    .buttonSkeleton {
        opacity: 0.3;
    }
}

.content {
    padding-top: 16px;
}

.titleSkeleton {
    margin-bottom: 12px;
}

.subtitleSkeleton {
    margin-bottom: 8px;
}

.prices {
    margin-bottom: 8px;
    gap: 8px;
}
