@use '../../../../../app/styles/animations';

.accordionContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkbox {
  cursor: pointer;
}

.error {
  color: var(--red-500);
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skeleton {
  height: 24px;
  background: linear-gradient(
                  90deg,
                  var(--gray-100) 25%,
                  var(--gray-200) 50%,
                  var(--gray-100) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}



.empty {
  padding: 12px;
  text-align: center;
  color: var(--gray-500);
  font-size: 14px;
}