.categories {
    margin: 20px 0;
}

.category {
    &.active {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
}

.categorySkeletonContainer {
    margin: 20px 0;
}

.errorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;
    text-align: center;
    flex-direction: column;
}

.errorText {
    font: var(--font-base);
    font-weight: 600;
    margin-bottom: 16px;
}
