.modalContent {
    width: min(100%, 480px);
}

.modalFooter {
    width: 100%;
}

.badge {
    width: max-content;
    padding: 8px 12px;
    border: 1px solid var(--gray-300);
    border-radius: 999px;
    background: var(--white);
}

.removeBadgeButton {
    min-width: 18px;
    line-height: 1;
    color: var(--gray-500);

    &:hover {
        color: var(--black);
    }
}

.icon {
    stroke: var(--black);
    transition: stroke 0.2s linear;

    &:hover {
        stroke: var(--primary-color);
    }
}
