.wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 450px;
    text-align: center;
}

.icon {
    fill: var(--primary-color);
}

.description {
    margin: 0 0 16px;
}

.button {
    width: 100%;
}
