.typography {
  margin: 0;
}

.display {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
}

.heading {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}

.body {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}

.bodySm {
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
}

.caption {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-xs);
}

.default {
  color: var(--gray-800);
}

.muted {
  color: var(--gray-600);
}

.primary {
  color: var(--primary-color);
}

.danger {
  color: var(--red-500);
}

.success {
  color: var(--green-500);
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.copyIcon {
  color: var(--primary-color);
  stroke: currentcolor;
  transition: color 0.2s linear;
  flex-shrink: 0;
}

.copyable {
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 0;

  &:hover {
    color: var(--primary-color-dark);

    .copyIcon {
      color: var(--primary-color-dark);
    }
  }
}

