.row {
    width: 100%;
    font: var(--font-m);

    span:last-child {
        color: var(--black);
    }
}

.totalRow {
    font: var(--font-l);

    span:last-child {
        font-size: 24px;
        letter-spacing: -0.02em;
    }
}

.skeletonSummaryTitle {
    margin-bottom: 16px;
}

.skeletonTotalRow {
    margin-top: 16px;
}
