.root {
    display: flex;
    flex-direction: column;

    &.compact {
        gap: 0;
    }
}

.stateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}
