.carousel {
  width: 100%;
  margin: auto;
}

.carouselViewport {
  overflow: hidden;
}

.carouselContainer {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.carouselSlide {
  flex: 0 0 auto;
  min-width: 0;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  position: relative;
  padding-right: 16px;
}

.emblaButtons {
  display: flex;
  gap: 8px;
}
