.carousel {
    width: 100%;
    margin: auto;
}

.carouselViewport {
    overflow: hidden;
}

.carouselContainer {
    display: flex;
    touch-action: pan-y pinch-zoom;
}

.carouselSlide {
    flex: 0 0 auto;
    min-width: 0;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    position: relative;
    padding-right: 16px;
}

.emblaButtons {
    display: flex;
    gap: 8px;
}

.thumbs {
    margin-top: 8px;
}

.thumbsViewport {
    overflow: hidden;
}

.thumbsContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    touch-action: pan-x pinch-zoom;
}

.thumbSlide {
    flex: 0 0 auto;
    height: 96px;
    width: 96px;
    border-radius: 12px;
    opacity: 0.5;
    transition:
        opacity 0.2s ease,
        border 0.2s ease;
}

.thumbSlideSelected {
    opacity: 1;
    border: 3px solid var(--primary-color);
}

.thumbButton {
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.thumbImage {
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: block;
}
