.address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.2s linear;
}

.addressIcon {
    transition: fill 0.2s linear;
}

.contentRoot {
    width: 100%;
}

.signInPrompt {
    padding: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    font: var(--font-base);
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
}
