.box {
  width: 20px;
  height: 20px;
  border: 3px solid var(--gray-400);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &.readOnly {
    cursor: default;
    opacity: 0.7;
  }

  &.checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &.checked {
      background-color: var(--gray-400);
      border-color: var(--gray-400);
    }
  }

}

.label {
  color: var(--gray-600);
  margin-left: 8px;
  user-select: none;
  cursor: pointer;
  transition: color 0.2s ease;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

}

.wrapper {
  display: inline-flex;
  align-items: center;

  &:hover:not(:has(.disabled)) .box {
    border-color: var(--primary-color);
  }

  &:hover:not(:has(.disabled)) .label {
    color: var(--primary-color);
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.icon {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.15s ease;

  path {
    stroke: var(--white);
  }
}

.icon.visible {
  opacity: 1;
  transform: scale(1);
}